@media (min-width:1025px) {
    .loginFrame{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 32px;
        
    }

        .inputBackground{
            margin-top: 51px;
            background-color:#FFFFFF;
            padding: 40px;
            display: flex;
            flex-direction: column;
            width: 476px;
           
            
            border: 1px solid #E5E7EB;
          
        }
 
                         .LoginBorder {
                             max-width: 396px;
                             min-width: none;
                             height: 48px;
            
                             border: 1px solid #D1D5DB;
                             border-radius: 8px;
                             padding: 12px 16px;
            
                         }
    .inputLoginBorder{
        max-width: 396px;
        min-width: none;
        height: 48px;
          display: flex;
          justify-items: center;
          align-items: center;
          gap: 10px;
        border: 1px solid #D1D5DB;
        border-radius: 8px;
        padding: 12px 16px;

    }

    .inputLoginBorder:focus-within{
        
       
        box-shadow:0 0 0 3px rgba(99, 60, 255, 0.2);
        
    }
    

    input{
        outline: none;
        width: 100%;
    }
}

@media (min-width:641px) and (max-width:1024px) {
    .loginFrame {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 32px;
        }
    
        .inputBackground {
            margin-top: 51px;
            background-color: #FFFFFF;
            padding: 40px;
            display: flex;
            flex-direction: column;
            width: 476px;
           
    
            border: 1px solid #E5E7EB;
    
        }
                  .LoginBorder {
                      max-width: 396px;
                      min-width: none;
                      height: 48px;
        
                      border: 1px solid #D1D5DB;
                      border-radius: 8px;
                      padding: 12px 16px;
        
                  }
    
        .inputLoginBorder {
            max-width: 396px;
            min-width: none;
            height: 48px;
    display: flex;
        justify-items: center;
        align-items: center;
        gap: 10px;
            border: 1px solid #D1D5DB;
            border-radius: 8px;
            padding: 12px 16px;
    
        }

                .inputLoginBorder:focus-within {
        
                   
                    box-shadow: 0 0 0 3px rgba(99, 60, 255, 0.2);
        
                }
    
        input {
            outline: none;
            width: 100%;
        }
}

@media (max-width:640px)  {
    .loginFrame {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 32px;
        }
    
        .inputBackground {
            margin-top: 51px;
            background-color: #FFFFFF;
            padding: 32px;
            display: flex;
            flex-direction: column;
            width: 311px;
           
    
            border: 1px solid #E5E7EB;
    
        }
                  .LoginBorder {
                      max-width: 396px;
                      min-width: none;
                      height: 48px;
        
                      border: 1px solid #D1D5DB;
                      border-radius: 8px;
                      padding: 12px 16px;
        
                  }
    
        .inputLoginBorder {
            max-width: 311px;
            min-width: none;
            height: 48px;
    display: flex;
        justify-items: center;
        align-items: center;
        gap: 10px;
            border: 1px solid #D1D5DB;
            border-radius: 8px;
            padding: 12px 16px;
    
        }
                .inputLoginBorder:focus-within {
        
                    
                    box-shadow: 0 0 0 3px rgba(99, 60, 255, 0.2);
        
                }
    
        input {
            outline: none;
            width: 100%;
        }
}